@charset "UTF-8";
/*mediaqueries */
/*768px */
/*992px */
/*1200px */
/*mediaqueries */
/*768px */
/*992px */
/*1200px */
/* line 4, ../../assets/sass/base/_colors.sass */
.bg-success {
  background-color: #457745 !important;
  color: #fff;
}

/* line 8, ../../assets/sass/base/_colors.sass */
.bg-info {
  background-color: #456177 !important;
  color: #fff;
}

/* line 12, ../../assets/sass/base/_colors.sass */
.bg-warning {
  background-color: #b1860d !important;
  color: #fff;
}

/* line 16, ../../assets/sass/base/_colors.sass */
.bg-error {
  background-color: #951a14 !important;
  color: #fff;
}

/* line 20, ../../assets/sass/base/_colors.sass */
.bg-grad {
  background-image: -o-linear-gradient(to bottom, #272c2f, rgba(39, 44, 47, 0.4));
  background-image: -moz-linear-gradient(to bottom, #272c2f, rgba(39, 44, 47, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #272c2f, rgba(39, 44, 47, 0.4));
  background-image: linear-gradient(to bottom, #272c2f, rgba(39, 44, 47, 0.4));
  border: 1px solid #272c2f;
  color: #fff;
}

/* line 23, ../../assets/sass/base/_colors.sass */
.bg-grad-success {
  background-image: -o-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.4));
  background-image: -moz-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.4));
  background-image: linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.4));
  border: 1px solid #457745;
  color: #fff;
}

/* line 26, ../../assets/sass/base/_colors.sass */
.bg-grad-info {
  background-image: -o-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.4));
  background-image: -moz-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.4));
  background-image: linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.4));
  border: 1px solid #456177;
  color: #fff;
}

/* line 29, ../../assets/sass/base/_colors.sass */
.bg-grad-warning {
  background-image: -o-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.4));
  background-image: -moz-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.4));
  background-image: linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.4));
  border: 1px solid #b1860d;
  color: #fff;
}

/* line 32, ../../assets/sass/base/_colors.sass */
.bg-grad-error {
  background-image: -o-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.4));
  background-image: -moz-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.4));
  background-image: linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.4));
  border: 1px solid #951a14;
  color: #fff;
}

/*mediaqueries */
/*768px */
/*992px */
/*1200px */
/* line 2, ../../assets/sass/base/_body.sass */
body {
  overflow: hidden;
}

/* line 4, ../../assets/sass/base/_body.sass */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* line 8, ../../assets/sass/base/_body.sass */
.container {
  color: #272c2f;
  height: 100vh;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  display: grid;
  grid-template-columns: [aside-start] 16em [main-start] 1fr [end];
  grid-template-rows: [start] 5em [main-start] 1fr [end];
  width: 100vw;
  transition: 2s;
}

/* line 19, ../../assets/sass/base/_body.sass */
.hidden {
  visibility: hidden;
  position: absolute;
}

/* line 23, ../../assets/sass/base/_body.sass */
.card-content {
  padding: 2em 1em 1em 1em;
}

/* line 26, ../../assets/sass/base/_body.sass */
.inline {
  display: flex;
  justify-content: space-evenly;
}

/* line 31, ../../assets/sass/base/_body.sass */
input:focus, select:focus, textarea:focus {
  outline: none;
  border-radius: #869514;
  box-shadow: 0 0 3px #869514;
}

/* line 2, ../../assets/sass/base/_grid.sass */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1vmax;
  grid-row-gap: 1vmax;
  grid-auto-flow: dense;
}

/* line 9, ../../assets/sass/base/_grid.sass */
.grid-eg {
  margin-top: 1.5em;
}
/* line 11, ../../assets/sass/base/_grid.sass */
.grid-eg div {
  background-color: #f1f4f5;
  border: 1px solid black;
  min-height: 2vmax;
  min-width: 100%;
}

/* line 17, ../../assets/sass/base/_grid.sass */
.col-xs-justify-items-start {
  justify-items: start;
}

/* line 20, ../../assets/sass/base/_grid.sass */
.col-xs-justify-items-end {
  justify-items: end;
}

/* line 23, ../../assets/sass/base/_grid.sass */
.col-xs-justify-items-center {
  justify-items: center;
}

/* line 26, ../../assets/sass/base/_grid.sass */
.col-xs-justify-items-stretch {
  justify-items: stretch;
}

/* line 29, ../../assets/sass/base/_grid.sass */
.col-xs-align-items-start {
  align-items: start;
}

/* line 32, ../../assets/sass/base/_grid.sass */
.col-xs-align-items-end {
  align-items: end;
}

/* line 35, ../../assets/sass/base/_grid.sass */
.col-xs-align-items-center {
  align-items: center;
}

/* line 38, ../../assets/sass/base/_grid.sass */
.col-xs-align-items-stretch {
  align-items: stretch;
}

/* line 41, ../../assets/sass/base/_grid.sass */
.col-xs-justify-content-start {
  justify-content: start;
}

/* line 44, ../../assets/sass/base/_grid.sass */
.col-xs-justify-content-end {
  justify-content: end;
}

/* line 47, ../../assets/sass/base/_grid.sass */
.col-xs-justify-content-center {
  justify-content: center;
}

/* line 50, ../../assets/sass/base/_grid.sass */
.col-xs-justify-content-stretch {
  justify-content: stretch;
}

/* line 53, ../../assets/sass/base/_grid.sass */
.col-xs-justify-content-space-around {
  justify-content: space-around;
}

/* line 56, ../../assets/sass/base/_grid.sass */
.col-xs-justify-content-space-between {
  justify-content: space-between;
}

/* line 59, ../../assets/sass/base/_grid.sass */
.col-xs-justify-content-space-evenly {
  justify-content: space-evenly;
}

/* line 62, ../../assets/sass/base/_grid.sass */
.col-xs-align-content-start {
  align-content: start;
}

/* line 65, ../../assets/sass/base/_grid.sass */
.col-xs-align-content-end {
  align-content: end;
}

/* line 68, ../../assets/sass/base/_grid.sass */
.col-xs-align-content-center {
  align-content: center;
}

/* line 72, ../../assets/sass/base/_grid.sass */
.col-xs-align-content-stretch {
  align-content: stretch;
}

/* line 75, ../../assets/sass/base/_grid.sass */
.col-xs-align-content-space-around {
  align-content: space-around;
}

/* line 78, ../../assets/sass/base/_grid.sass */
.col-xs-align-content-space-between {
  align-content: space-between;
}

/* line 81, ../../assets/sass/base/_grid.sass */
.col-xs-align-content-space-evenly {
  align-content: space-evenly;
}

/* line 84, ../../assets/sass/base/_grid.sass */
.col-xs-grid-auto-flow-row {
  grid-auto-flow: row;
}

/* line 87, ../../assets/sass/base/_grid.sass */
.col-xs-grid-auto-flow-column {
  grid-auto-flow: column;
}

/* line 90, ../../assets/sass/base/_grid.sass */
.col-xs-grid-auto-flow-dense {
  grid-auto-flow: dense;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-1 {
  grid-column-end: span 1;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-2 {
  grid-column-end: span 2;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-3 {
  grid-column-end: span 3;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-4 {
  grid-column-end: span 4;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-5 {
  grid-column-end: span 5;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-6 {
  grid-column-end: span 6;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-7 {
  grid-column-end: span 7;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-8 {
  grid-column-end: span 8;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-9 {
  grid-column-end: span 9;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-10 {
  grid-column-end: span 10;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-11 {
  grid-column-end: span 11;
}

/* line 94, ../../assets/sass/base/_grid.sass */
.col-xs-12 {
  grid-column-end: span 12;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-2 {
  grid-column-start: 2;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-3 {
  grid-column-start: 3;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-4 {
  grid-column-start: 4;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-5 {
  grid-column-start: 5;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-6 {
  grid-column-start: 6;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-7 {
  grid-column-start: 7;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-8 {
  grid-column-start: 8;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-9 {
  grid-column-start: 9;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-10 {
  grid-column-start: 10;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-11 {
  grid-column-start: 11;
}

/* line 98, ../../assets/sass/base/_grid.sass */
.col-xs-offset-12 {
  grid-column-start: 12;
}

/* line 101, ../../assets/sass/base/_grid.sass */
.col-xs-justify-self-start {
  justify-self: start;
}

/* line 104, ../../assets/sass/base/_grid.sass */
.col-xs-justify-self-end {
  justify-self: end;
}

/* line 107, ../../assets/sass/base/_grid.sass */
.col-xs-justify-self-center {
  justify-self: center;
}

/* line 110, ../../assets/sass/base/_grid.sass */
.col-xs-justify-self-stretch {
  justify-self: stretch;
}

/* line 113, ../../assets/sass/base/_grid.sass */
.col-xs-align-self-start {
  align-self: start;
}

/* line 116, ../../assets/sass/base/_grid.sass */
.col-xs-align-self-end {
  align-self: end;
}

/* line 119, ../../assets/sass/base/_grid.sass */
.col-xs-align-self-center {
  align-self: center;
}

/* line 122, ../../assets/sass/base/_grid.sass */
.col-xs-align-self-stretch {
  align-self: stretch;
}

@media only screen and (min-width: 48em) {
  /* line 127, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-items-start {
    justify-items: start;
  }

  /* line 130, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-items-end {
    justify-items: end;
  }

  /* line 133, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-items-center {
    justify-items: center;
  }

  /* line 136, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-items-stretch {
    justify-items: stretch;
  }

  /* line 139, ../../assets/sass/base/_grid.sass */
  .col-sm-align-items-start {
    align-items: start;
  }

  /* line 142, ../../assets/sass/base/_grid.sass */
  .col-sm-align-items-end {
    align-items: end;
  }

  /* line 145, ../../assets/sass/base/_grid.sass */
  .col-sm-align-items-center {
    align-items: center;
  }

  /* line 148, ../../assets/sass/base/_grid.sass */
  .col-sm-align-items-stretch {
    align-items: stretch;
  }

  /* line 151, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-content-start {
    justify-content: start;
  }

  /* line 154, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-content-end {
    justify-content: end;
  }

  /* line 157, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-content-center {
    justify-content: center;
  }

  /* line 160, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-content-stretch {
    justify-content: stretch;
  }

  /* line 163, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-content-space-around {
    justify-content: space-around;
  }

  /* line 166, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-content-space-between {
    justify-content: space-between;
  }

  /* line 169, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-content-space-evenly {
    justify-content: space-evenly;
  }

  /* line 172, ../../assets/sass/base/_grid.sass */
  .col-sm-align-content-start {
    align-content: start;
  }

  /* line 175, ../../assets/sass/base/_grid.sass */
  .col-sm-align-content-end {
    align-content: end;
  }

  /* line 178, ../../assets/sass/base/_grid.sass */
  .col-sm-align-content-center {
    align-content: center;
  }

  /* line 181, ../../assets/sass/base/_grid.sass */
  .col-sm-align-content-stretch {
    align-content: stretch;
  }

  /* line 184, ../../assets/sass/base/_grid.sass */
  .col-sm-align-content-space-around {
    align-content: space-around;
  }

  /* line 187, ../../assets/sass/base/_grid.sass */
  .col-sm-align-content-space-between {
    align-content: space-between;
  }

  /* line 190, ../../assets/sass/base/_grid.sass */
  .col-sm-align-content-space-evenly {
    align-content: space-evenly;
  }

  /* line 193, ../../assets/sass/base/_grid.sass */
  .col-sm-grid-auto-flow-row {
    grid-auto-flow: row;
  }

  /* line 196, ../../assets/sass/base/_grid.sass */
  .col-sm-grid-auto-flow-column {
    grid-auto-flow: column;
  }

  /* line 199, ../../assets/sass/base/_grid.sass */
  .col-sm-grid-auto-flow-dense {
    grid-auto-flow: dense;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-1 {
    grid-column-end: span 1;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-2 {
    grid-column-end: span 2;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-3 {
    grid-column-end: span 3;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-4 {
    grid-column-end: span 4;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-5 {
    grid-column-end: span 5;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-6 {
    grid-column-end: span 6;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-7 {
    grid-column-end: span 7;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-8 {
    grid-column-end: span 8;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-9 {
    grid-column-end: span 9;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-10 {
    grid-column-end: span 10;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-11 {
    grid-column-end: span 11;
  }

  /* line 203, ../../assets/sass/base/_grid.sass */
  .col-sm-12 {
    grid-column-end: span 12;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-1 {
    grid-column-start: 1;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-2 {
    grid-column-start: 2;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-3 {
    grid-column-start: 3;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-4 {
    grid-column-start: 4;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-5 {
    grid-column-start: 5;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-6 {
    grid-column-start: 6;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-7 {
    grid-column-start: 7;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-8 {
    grid-column-start: 8;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-9 {
    grid-column-start: 9;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-10 {
    grid-column-start: 10;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-11 {
    grid-column-start: 11;
  }

  /* line 207, ../../assets/sass/base/_grid.sass */
  .col-sm-offset-12 {
    grid-column-start: 12;
  }

  /* line 210, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-self-start {
    justify-self: start;
  }

  /* line 213, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-self-end {
    justify-self: end;
  }

  /* line 216, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-self-center {
    justify-self: center;
  }

  /* line 219, ../../assets/sass/base/_grid.sass */
  .col-sm-justify-self-stretch {
    justify-self: stretch;
  }

  /* line 222, ../../assets/sass/base/_grid.sass */
  .col-sm-align-self-start {
    align-self: start;
  }

  /* line 225, ../../assets/sass/base/_grid.sass */
  .col-sm-align-self-end {
    align-self: end;
  }

  /* line 228, ../../assets/sass/base/_grid.sass */
  .col-sm-align-self-center {
    align-self: center;
  }

  /* line 231, ../../assets/sass/base/_grid.sass */
  .col-sm-align-self-stretch {
    align-self: stretch;
  }
}
@media only screen and (min-width: 62em) {
  /* line 236, ../../assets/sass/base/_grid.sass */
  .col-md-justify-items-start {
    justify-items: start;
  }

  /* line 239, ../../assets/sass/base/_grid.sass */
  .col-md-justify-items-end {
    justify-items: end;
  }

  /* line 242, ../../assets/sass/base/_grid.sass */
  .col-md-justify-items-center {
    justify-items: center;
  }

  /* line 245, ../../assets/sass/base/_grid.sass */
  .col-md-justify-items-stretch {
    justify-items: stretch;
  }

  /* line 248, ../../assets/sass/base/_grid.sass */
  .col-md-align-items-start {
    align-items: start;
  }

  /* line 251, ../../assets/sass/base/_grid.sass */
  .col-md-align-items-end {
    align-items: end;
  }

  /* line 254, ../../assets/sass/base/_grid.sass */
  .col-md-align-items-center {
    align-items: center;
  }

  /* line 257, ../../assets/sass/base/_grid.sass */
  .col-md-align-items-stretch {
    align-items: stretch;
  }

  /* line 260, ../../assets/sass/base/_grid.sass */
  .col-md-justify-content-start {
    justify-content: start;
  }

  /* line 263, ../../assets/sass/base/_grid.sass */
  .col-md-justify-content-end {
    justify-content: end;
  }

  /* line 266, ../../assets/sass/base/_grid.sass */
  .col-md-justify-content-center {
    justify-content: center;
  }

  /* line 269, ../../assets/sass/base/_grid.sass */
  .col-md-justify-content-stretch {
    justify-content: stretch;
  }

  /* line 272, ../../assets/sass/base/_grid.sass */
  .col-md-justify-content-space-around {
    justify-content: space-around;
  }

  /* line 275, ../../assets/sass/base/_grid.sass */
  .col-md-justify-content-space-between {
    justify-content: space-between;
  }

  /* line 278, ../../assets/sass/base/_grid.sass */
  .col-md-justify-content-space-evenly {
    justify-content: space-evenly;
  }

  /* line 281, ../../assets/sass/base/_grid.sass */
  .col-md-align-content-start {
    align-content: start;
  }

  /* line 284, ../../assets/sass/base/_grid.sass */
  .col-md-align-content-end {
    align-content: end;
  }

  /* line 287, ../../assets/sass/base/_grid.sass */
  .col-md-align-content-center {
    align-content: center;
  }

  /* line 290, ../../assets/sass/base/_grid.sass */
  .col-md-align-content-stretch {
    align-content: stretch;
  }

  /* line 293, ../../assets/sass/base/_grid.sass */
  .col-md-align-content-space-around {
    align-content: space-around;
  }

  /* line 296, ../../assets/sass/base/_grid.sass */
  .col-md-align-content-space-between {
    align-content: space-between;
  }

  /* line 299, ../../assets/sass/base/_grid.sass */
  .col-md-align-content-space-evenly {
    align-content: space-evenly;
  }

  /* line 302, ../../assets/sass/base/_grid.sass */
  .col-md-grid-auto-flow-row {
    grid-auto-flow: row;
  }

  /* line 305, ../../assets/sass/base/_grid.sass */
  .col-md-grid-auto-flow-column {
    grid-auto-flow: column;
  }

  /* line 308, ../../assets/sass/base/_grid.sass */
  .col-md-grid-auto-flow-dense {
    grid-auto-flow: dense;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-1 {
    grid-column-end: span 1;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-2 {
    grid-column-end: span 2;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-3 {
    grid-column-end: span 3;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-4 {
    grid-column-end: span 4;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-5 {
    grid-column-end: span 5;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-6 {
    grid-column-end: span 6;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-7 {
    grid-column-end: span 7;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-8 {
    grid-column-end: span 8;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-9 {
    grid-column-end: span 9;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-10 {
    grid-column-end: span 10;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-11 {
    grid-column-end: span 11;
  }

  /* line 312, ../../assets/sass/base/_grid.sass */
  .col-md-12 {
    grid-column-end: span 12;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-2 {
    grid-column-start: 2;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-3 {
    grid-column-start: 3;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-4 {
    grid-column-start: 4;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-5 {
    grid-column-start: 5;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-6 {
    grid-column-start: 6;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-7 {
    grid-column-start: 7;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-8 {
    grid-column-start: 8;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-9 {
    grid-column-start: 9;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-10 {
    grid-column-start: 10;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-11 {
    grid-column-start: 11;
  }

  /* line 316, ../../assets/sass/base/_grid.sass */
  .col-md-offset-12 {
    grid-column-start: 12;
  }

  /* line 319, ../../assets/sass/base/_grid.sass */
  .col-md-justify-self-start {
    justify-self: start;
  }

  /* line 322, ../../assets/sass/base/_grid.sass */
  .col-md-justify-self-end {
    justify-self: end;
  }

  /* line 325, ../../assets/sass/base/_grid.sass */
  .col-md-justify-self-center {
    justify-self: center;
  }

  /* line 328, ../../assets/sass/base/_grid.sass */
  .col-md-justify-self-stretch {
    justify-self: stretch;
  }

  /* line 331, ../../assets/sass/base/_grid.sass */
  .col-md-align-self-start {
    align-self: start;
  }

  /* line 334, ../../assets/sass/base/_grid.sass */
  .col-md-align-self-end {
    align-self: end;
  }

  /* line 337, ../../assets/sass/base/_grid.sass */
  .col-md-align-self-center {
    align-self: center;
  }

  /* line 340, ../../assets/sass/base/_grid.sass */
  .col-md-align-self-stretch {
    align-self: stretch;
  }
}
@media only screen and (min-width: 75em) {
  /* line 345, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-items-start {
    justify-items: start;
  }

  /* line 348, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-items-end {
    justify-items: end;
  }

  /* line 351, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-items-center {
    justify-items: center;
  }

  /* line 354, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-items-stretch {
    justify-items: stretch;
  }

  /* line 357, ../../assets/sass/base/_grid.sass */
  .col-lg-align-items-start {
    align-items: start;
  }

  /* line 360, ../../assets/sass/base/_grid.sass */
  .col-lg-align-items-end {
    align-items: end;
  }

  /* line 363, ../../assets/sass/base/_grid.sass */
  .col-lg-align-items-center {
    align-items: center;
  }

  /* line 366, ../../assets/sass/base/_grid.sass */
  .col-lg-align-items-stretch {
    align-items: stretch;
  }

  /* line 369, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-content-start {
    justify-content: start;
  }

  /* line 372, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-content-end {
    justify-content: end;
  }

  /* line 375, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-content-center {
    justify-content: center;
  }

  /* line 378, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-content-stretch {
    justify-content: stretch;
  }

  /* line 381, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-content-space-around {
    justify-content: space-around;
  }

  /* line 384, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-content-space-between {
    justify-content: space-between;
  }

  /* line 387, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-content-space-evenly {
    justify-content: space-evenly;
  }

  /* line 390, ../../assets/sass/base/_grid.sass */
  .col-lg-align-content-start {
    align-content: start;
  }

  /* line 393, ../../assets/sass/base/_grid.sass */
  .col-lg-align-content-end {
    align-content: end;
  }

  /* line 396, ../../assets/sass/base/_grid.sass */
  .col-lg-align-content-center {
    align-content: center;
  }

  /* line 399, ../../assets/sass/base/_grid.sass */
  .col-lg-align-content-stretch {
    align-content: stretch;
  }

  /* line 402, ../../assets/sass/base/_grid.sass */
  .col-lg-align-content-space-around {
    align-content: space-around;
  }

  /* line 405, ../../assets/sass/base/_grid.sass */
  .col-lg-align-content-space-between {
    align-content: space-between;
  }

  /* line 408, ../../assets/sass/base/_grid.sass */
  .col-lg-align-content-space-evenly {
    align-content: space-evenly;
  }

  /* line 411, ../../assets/sass/base/_grid.sass */
  .col-lg-grid-auto-flow-row {
    grid-auto-flow: row;
  }

  /* line 414, ../../assets/sass/base/_grid.sass */
  .col-lg-grid-auto-flow-column {
    grid-auto-flow: column;
  }

  /* line 417, ../../assets/sass/base/_grid.sass */
  .col-lg-grid-auto-flow-dense {
    grid-auto-flow: dense;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-1 {
    grid-column-end: span 1;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-2 {
    grid-column-end: span 2;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-3 {
    grid-column-end: span 3;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-4 {
    grid-column-end: span 4;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-5 {
    grid-column-end: span 5;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-6 {
    grid-column-end: span 6;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-7 {
    grid-column-end: span 7;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-8 {
    grid-column-end: span 8;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-9 {
    grid-column-end: span 9;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-10 {
    grid-column-end: span 10;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-11 {
    grid-column-end: span 11;
  }

  /* line 421, ../../assets/sass/base/_grid.sass */
  .col-lg-12 {
    grid-column-end: span 12;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-1 {
    grid-column-start: 1;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-2 {
    grid-column-start: 2;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-3 {
    grid-column-start: 3;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-4 {
    grid-column-start: 4;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-5 {
    grid-column-start: 5;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-6 {
    grid-column-start: 6;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-7 {
    grid-column-start: 7;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-8 {
    grid-column-start: 8;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-9 {
    grid-column-start: 9;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-10 {
    grid-column-start: 10;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-11 {
    grid-column-start: 11;
  }

  /* line 425, ../../assets/sass/base/_grid.sass */
  .col-lg-offset-12 {
    grid-column-start: 12;
  }

  /* line 428, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-self-start {
    justify-self: start;
  }

  /* line 431, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-self-end {
    justify-self: end;
  }

  /* line 434, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-self-center {
    justify-self: center;
  }

  /* line 437, ../../assets/sass/base/_grid.sass */
  .col-lg-justify-self-stretch {
    justify-self: stretch;
  }

  /* line 440, ../../assets/sass/base/_grid.sass */
  .col-lg-align-self-start {
    align-self: start;
  }

  /* line 443, ../../assets/sass/base/_grid.sass */
  .col-lg-align-self-end {
    align-self: end;
  }

  /* line 446, ../../assets/sass/base/_grid.sass */
  .col-lg-align-self-center {
    align-self: center;
  }

  /* line 449, ../../assets/sass/base/_grid.sass */
  .col-lg-align-self-stretch {
    align-self: stretch;
  }
}
/* line 2, ../../assets/sass/base/_typography.sass */
* {
  font-family: "Muli", sans-serif;
}

/* line 5, ../../assets/sass/base/_typography.sass */
h1 {
  font-size: 2.2em;
  margin-bottom: 2em;
}

/* line 9, ../../assets/sass/base/_typography.sass */
h2 {
  font-size: 1.6em;
  margin-bottom: 1em;
}

/* line 13, ../../assets/sass/base/_typography.sass */
h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* line 17, ../../assets/sass/base/_typography.sass */
p {
  font-size: 1em;
  margin-bottom: 1em;
}

/* line 21, ../../assets/sass/base/_typography.sass */
a {
  color: var(--ligth-grey-color);
  font-weight: 400;
  text-decoration: none;
}

/* line 26, ../../assets/sass/base/_typography.sass */
code {
  font-family: monospace;
  color: #000;
}

/* line 29, ../../assets/sass/base/_typography.sass */
.title {
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* line 35, ../../assets/sass/base/_typography.sass */
.accent-text {
  font-family: "East Sea Dokdo", cursive;
  font-size: 1.8em;
}

/* line 1, ../../assets/sass/layout/_header.sass */
header {
  background-color: #f1f4f5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  z-index: 1;
}

/* line 10, ../../assets/sass/layout/_header.sass */
.container .block > header {
  margin-bottom: 1em;
}
/* line 12, ../../assets/sass/layout/_header.sass */
.container .block > header .left {
  align-self: flex-start;
}
/* line 14, ../../assets/sass/layout/_header.sass */
.container .block > header .right {
  align-self: flex-end;
  max-width: 75%;
  text-align: right;
}
/* line 19, ../../assets/sass/layout/_header.sass */
.container > header {
  grid-column: aside-start/end;
  grid-row: start/main-start;
  padding-left: 1.5em;
}
/* line 23, ../../assets/sass/layout/_header.sass */
.container > header h1, .container > header h2 {
  margin-bottom: 0;
}
@media only screen and (max-width: 75em) {
  /* line 26, ../../assets/sass/layout/_header.sass */
  .container > header .title-container {
    font-size: 0.7em;
  }
}
/* line 29, ../../assets/sass/layout/_header.sass */
.container > header .inline {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
/* line 34, ../../assets/sass/layout/_header.sass */
.container > header .icon {
  align-items: center;
  background-color: #cad04a;
  border-radius: 50%;
  color: #f1f4f5;
  cursor: pointer;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  margin-right: 1em;
  padding: 0.5em;
  position: relative;
  width: 2em;
}
/* line 47, ../../assets/sass/layout/_header.sass */
.container > header .icon .badge {
  background-color: #f1f4f5;
  border: 2px solid #457745;
  border-radius: 50%;
  color: #457745;
  font-size: 0.8em;
  position: absolute;
  bottom: 1.6em;
  left: 1.6em;
  padding: 0.2em 0.4em;
}
/* line 57, ../../assets/sass/layout/_header.sass */
.container > header .icon .badge.error {
  border: 2px solid #951a14;
  color: #951a14;
}
/* line 61, ../../assets/sass/layout/_header.sass */
.container > header .search {
  position: relative;
  direction: rtl;
}
/* line 64, ../../assets/sass/layout/_header.sass */
.container > header .search-icon {
  z-index: 1;
}
/* line 66, ../../assets/sass/layout/_header.sass */
.container > header .search-input {
  border-radius: 1.5em;
  border: 1px solid #cad04a;
  height: 2.4rem;
  direction: ltr;
  margin-right: 1.2rem;
  padding: 0 3rem 0 1rem;
  position: absolute;
  top: 0;
  transition: width 1.5s ease-in-out;
  visibility: hidden;
  width: 3em;
  z-index: 0;
}
/* line 79, ../../assets/sass/layout/_header.sass */
.container > header #open-search:checked + .search-input {
  width: 22em;
  visibility: visible;
}
/* line 83, ../../assets/sass/layout/_header.sass */
.container > header .mail-options {
  max-height: 3em;
  overflow: hidden;
  position: absolute;
  transition: max-height 1.5s ease-in-out;
  visibility: hidden;
}
/* line 89, ../../assets/sass/layout/_header.sass */
.container > header #open-mail:checked + .mail-options {
  background-color: #272c2f;
  color: #f1f4f5;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  left: 0;
  margin-top: 2rem;
  max-height: 50em;
  position: absolute;
  visibility: visible;
  width: auto;
  z-index: 0;
}
/* line 22, ../../assets/sass/base/_mixins.sass */
.container > header #open-mail:checked + .mail-options li {
  border-bottom: 1px solid #cad04a;
  padding: 1em;
}
/* line 25, ../../assets/sass/base/_mixins.sass */
.container > header #open-mail:checked + .mail-options li:last-child {
  border-bottom: none;
}
/* line 27, ../../assets/sass/base/_mixins.sass */
.container > header #open-mail:checked + .mail-options li .item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 31, ../../assets/sass/base/_mixins.sass */
.container > header #open-mail:checked + .mail-options li .item-title .title-img {
  border-radius: 50%;
  margin: 0 0.5rem 0.5rem 0;
}
/* line 34, ../../assets/sass/base/_mixins.sass */
.container > header #open-mail:checked + .mail-options li .item-title .title-description {
  display: block;
  color: #cad04a;
  font-weight: 900;
  margin-bottom: 0.5em;
}
/* line 39, ../../assets/sass/base/_mixins.sass */
.container > header #open-mail:checked + .mail-options li .message {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1rem;
  max-height: 2rem;
  margin-bottom: 0;
}
/* line 92, ../../assets/sass/layout/_header.sass */
.container > header .notification-options {
  max-height: 3em;
  overflow: hidden;
  position: absolute;
  transition: max-height 1.5s ease-in-out;
  visibility: hidden;
}
/* line 98, ../../assets/sass/layout/_header.sass */
.container > header .notification-options li {
  display: flex;
}
/* line 100, ../../assets/sass/layout/_header.sass */
.container > header #open-notification:checked + .notification-options {
  background-color: #272c2f;
  color: #f1f4f5;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  left: 0;
  margin-top: 2rem;
  max-height: 50em;
  position: absolute;
  visibility: visible;
  width: auto;
  z-index: 0;
}
/* line 22, ../../assets/sass/base/_mixins.sass */
.container > header #open-notification:checked + .notification-options li {
  border-bottom: 1px solid #cad04a;
  padding: 1em;
}
/* line 25, ../../assets/sass/base/_mixins.sass */
.container > header #open-notification:checked + .notification-options li:last-child {
  border-bottom: none;
}
/* line 27, ../../assets/sass/base/_mixins.sass */
.container > header #open-notification:checked + .notification-options li .item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 31, ../../assets/sass/base/_mixins.sass */
.container > header #open-notification:checked + .notification-options li .item-title .title-img {
  border-radius: 50%;
  margin: 0 0.5rem 0.5rem 0;
}
/* line 34, ../../assets/sass/base/_mixins.sass */
.container > header #open-notification:checked + .notification-options li .item-title .title-description {
  display: block;
  color: #cad04a;
  font-weight: 900;
  margin-bottom: 0.5em;
}
/* line 39, ../../assets/sass/base/_mixins.sass */
.container > header #open-notification:checked + .notification-options li .message {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1rem;
  max-height: 2rem;
  margin-bottom: 0;
}
/* line 103, ../../assets/sass/layout/_header.sass */
.container > header .user {
  border: 2px solid #869514;
  box-sizing: content-box;
  height: 100%;
}
/* line 107, ../../assets/sass/layout/_header.sass */
.container > header .user img {
  height: 4em;
  width: 4em;
}
/* line 111, ../../assets/sass/layout/_header.sass */
.container .leaned {
  transform: rotate(-3deg) translate(14em);
  color: #cad04a;
}

/*mediaqueries */
/*768px */
/*992px */
/*1200px */
/* line 3, ../../assets/sass/layout/_navbar.sass */
.navbar {
  background-color: #272c2f;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #f1f4f5;
  grid-column: aside-start/main-start;
  grid-row: main-start/end;
  line-height: 3em;
  padding-top: 1em;
  z-index: 1;
}
/* line 12, ../../assets/sass/layout/_navbar.sass */
.navbar a {
  display: block;
}
/* line 14, ../../assets/sass/layout/_navbar.sass */
.navbar em {
  border: none;
  background-color: transparent;
  color: #f1f4f5;
  margin-right: 0.5em;
}
/* line 19, ../../assets/sass/layout/_navbar.sass */
.navbar .menu-item {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 0 1em;
}
/* line 23, ../../assets/sass/layout/_navbar.sass */
.navbar .menu-item em {
  cursor: pointer;
}
/* line 25, ../../assets/sass/layout/_navbar.sass */
.navbar .menu-item .menu-title {
  cursor: pointer;
  display: block;
}
/* line 28, ../../assets/sass/layout/_navbar.sass */
.navbar .menu-item .menu-title:hover::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  float: right;
}
/* line 36, ../../assets/sass/layout/_navbar.sass */
.navbar .menu-item .options {
  display: none;
  margin-left: 1em;
}
/* line 40, ../../assets/sass/layout/_navbar.sass */
.navbar input:checked + ul.options {
  display: block;
}
/* line 42, ../../assets/sass/layout/_navbar.sass */
.navbar .toggle-aside {
  position: relative;
  display: block;
}
/* line 45, ../../assets/sass/layout/_navbar.sass */
.navbar .toggle-aside .toggle-button {
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 0.5em solid #cad04a;
  cursor: pointer;
  font-size: 3em;
  left: 4.75em;
  position: absolute;
  text-align: center;
  top: -0.25em;
  transition: none;
  height: 0;
  width: 0;
}

/* line 59, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container {
  grid-template-columns: [aside-start] 3.1em [main-start] 1fr [end];
  overflow: hidden;
}
/* line 62, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .menu-label {
  display: none;
}
/* line 65, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items {
  padding-top: 3.6em;
}
/* line 67, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items .title {
  display: none;
}
/* line 69, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items .menu-item {
  display: inline-block;
  border-bottom: 2px solid transparent;
}
/* line 72, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items .menu-item:hover {
  border-bottom: 2px solid #cad04a;
}
/* line 74, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items .menu-item em {
  margin: 0;
}
/* line 77, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items .menu-item .menu-title:hover::after {
  content: none;
}
/* line 80, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items .options {
  display: flex;
  flex-direction: column;
  margin-left: -15rem;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  width: auto;
}
/* line 89, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items input:checked + .options {
  transition: margin-left 0.5s ease-in-out;
  border-top: 2px solid #cad04a;
  background-color: #272c2f;
  color: #f1f4f5;
  font-size: 0.8em;
  margin-left: 2.2rem;
  overflow: hidden;
  visibility: visible;
  width: 10em;
  z-index: 0;
}
/* line 94, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items input:checked + .options .title-dropright {
  cursor: default;
  display: block;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
  visibility: visible;
}
/* line 101, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar ul.nav-items input:checked + .options em {
  margin-right: 0.5em;
}
/* line 104, ../../assets/sass/layout/_navbar.sass */
#open-aside:checked + .container .navbar .toggle-button {
  border-left: 0.5em solid #cad04a;
  border-right: 0;
  left: 0.9em;
}

/*mediaqueries */
/*768px */
/*992px */
/*1200px */
/* line 3, ../../assets/sass/layout/_main.sass */
main {
  background-color: #fff;
  grid-column: main-start/end;
  grid-row: main-start/end;
  overflow: auto;
}
/* line 9, ../../assets/sass/layout/_main.sass */
main .no-margin-bottom {
  margin-bottom: 0;
}
/* line 12, ../../assets/sass/layout/_main.sass */
main section.block {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin: 2em;
}
/* line 17, ../../assets/sass/layout/_main.sass */
main section.block article {
  padding: 1em;
}
/* line 20, ../../assets/sass/layout/_main.sass */
main section.block article header {
  padding-left: 1em;
}

/*mediaqueries */
/*768px */
/*992px */
/*1200px */
/* line 4, ../../assets/sass/components/_alerts.sass */
.alert {
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #f1f4f5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1em;
  padding: 1em;
}
/* line 13, ../../assets/sass/components/_alerts.sass */
.alert .message {
  display: flex;
}
/* line 15, ../../assets/sass/components/_alerts.sass */
.alert .message .icon {
  border-right: 1px solid #f1f4f5;
  box-sizing: content-box;
  margin-right: 1em;
  min-width: 2em;
  padding: 1em;
}
/* line 21, ../../assets/sass/components/_alerts.sass */
.alert .message p:last-child {
  margin-bottom: 0;
}

/* line 23, ../../assets/sass/components/_alerts.sass */
.generic-alert {
  background-image: -o-linear-gradient(to bottom, #f1f4f5, rgba(241, 244, 245, 0.4));
  background-image: -moz-linear-gradient(to bottom, #f1f4f5, rgba(241, 244, 245, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #f1f4f5, rgba(241, 244, 245, 0.4));
  background-image: linear-gradient(to bottom, #f1f4f5, rgba(241, 244, 245, 0.4));
  border: 1px solid #f1f4f5;
  color: #fff;
  color: #272c2f;
}
/* line 26, ../../assets/sass/components/_alerts.sass */
.generic-alert button {
  color: #272c2f;
  border: 1px solid #272c2f;
}

/* line 29, ../../assets/sass/components/_alerts.sass */
.info-alert {
  background-image: -o-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.4));
  background-image: -moz-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.4));
  background-image: linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.4));
  border: 1px solid #456177;
  color: #fff;
}
/* line 31, ../../assets/sass/components/_alerts.sass */
.info-alert button {
  color: #456177;
}

/* line 33, ../../assets/sass/components/_alerts.sass */
.success-alert {
  background-image: -o-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.4));
  background-image: -moz-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.4));
  background-image: linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.4));
  border: 1px solid #457745;
  color: #fff;
}
/* line 35, ../../assets/sass/components/_alerts.sass */
.success-alert button {
  color: #457745;
}

/* line 37, ../../assets/sass/components/_alerts.sass */
.warning-alert {
  background-image: -o-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.4));
  background-image: -moz-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.4));
  background-image: linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.4));
  border: 1px solid #b1860d;
  color: #fff;
}
/* line 39, ../../assets/sass/components/_alerts.sass */
.warning-alert button {
  color: #b1860d;
}

/* line 41, ../../assets/sass/components/_alerts.sass */
.error-alert {
  background-image: -o-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.4));
  background-image: -moz-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.4));
  background-image: -webkit-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.4));
  background-image: linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.4));
  border: 1px solid #951a14;
  color: #fff;
}
/* line 43, ../../assets/sass/components/_alerts.sass */
.error-alert button {
  color: #951a14;
}

/*mediaqueries */
/*768px */
/*992px */
/*1200px */
/* line 3, ../../assets/sass/components/_buttons.sass */
.btn {
  color: #f1f4f5;
  background-color: #272c2f;
  background-size: 200% auto;
  border: 1.5px solid #272c2f;
  border-radius: 3em;
  cursor: pointer;
  padding: 1em 2em;
  text-transform: uppercase;
  transition: 1.5s;
}
/* line 69, ../../assets/sass/base/_mixins.sass */
.btn:focus {
  outline: none;
  box-shadow: 1px 1px 0.15em #272c2f;
}
/* line 72, ../../assets/sass/base/_mixins.sass */
.btn:hover {
  background-color: #f1f4f5;
  background-position: bottom center;
  color: #272c2f;
}

/* line 6, ../../assets/sass/components/_buttons.sass */
.btn-info {
  color: #f1f4f5;
  background-color: #456177;
  background-size: 200% auto;
  border: 1.5px solid #456177;
  border-radius: 3em;
  cursor: pointer;
  padding: 1em 2em;
  text-transform: uppercase;
  transition: 1.5s;
}
/* line 69, ../../assets/sass/base/_mixins.sass */
.btn-info:focus {
  outline: none;
  box-shadow: 1px 1px 0.15em #272c2f;
}
/* line 72, ../../assets/sass/base/_mixins.sass */
.btn-info:hover {
  background-color: #f1f4f5;
  background-position: bottom center;
  color: #456177;
}

/* line 8, ../../assets/sass/components/_buttons.sass */
.btn-success {
  color: #f1f4f5;
  background-color: #457745;
  background-size: 200% auto;
  border: 1.5px solid #457745;
  border-radius: 3em;
  cursor: pointer;
  padding: 1em 2em;
  text-transform: uppercase;
  transition: 1.5s;
}
/* line 69, ../../assets/sass/base/_mixins.sass */
.btn-success:focus {
  outline: none;
  box-shadow: 1px 1px 0.15em #272c2f;
}
/* line 72, ../../assets/sass/base/_mixins.sass */
.btn-success:hover {
  background-color: #f1f4f5;
  background-position: bottom center;
  color: #457745;
}

/* line 10, ../../assets/sass/components/_buttons.sass */
.btn-warning {
  color: #f1f4f5;
  background-color: #b1860d;
  background-size: 200% auto;
  border: 1.5px solid #b1860d;
  border-radius: 3em;
  cursor: pointer;
  padding: 1em 2em;
  text-transform: uppercase;
  transition: 1.5s;
}
/* line 69, ../../assets/sass/base/_mixins.sass */
.btn-warning:focus {
  outline: none;
  box-shadow: 1px 1px 0.15em #272c2f;
}
/* line 72, ../../assets/sass/base/_mixins.sass */
.btn-warning:hover {
  background-color: #f1f4f5;
  background-position: bottom center;
  color: #b1860d;
}

/* line 12, ../../assets/sass/components/_buttons.sass */
.btn-error {
  color: #f1f4f5;
  background-color: #951a14;
  background-size: 200% auto;
  border: 1.5px solid #951a14;
  border-radius: 3em;
  cursor: pointer;
  padding: 1em 2em;
  text-transform: uppercase;
  transition: 1.5s;
}
/* line 69, ../../assets/sass/base/_mixins.sass */
.btn-error:focus {
  outline: none;
  box-shadow: 1px 1px 0.15em #272c2f;
}
/* line 72, ../../assets/sass/base/_mixins.sass */
.btn-error:hover {
  background-color: #f1f4f5;
  background-position: bottom center;
  color: #951a14;
}

/* line 15, ../../assets/sass/components/_buttons.sass */
.outlined {
  background-color: #f1f4f5;
  color: #272c2f;
}
/* line 18, ../../assets/sass/components/_buttons.sass */
.outlined:hover {
  border-color: #fff;
  background-color: #fff;
}

/* line 22, ../../assets/sass/components/_buttons.sass */
.clear {
  background-color: transparent;
  border: none;
  color: #272c2f;
  cursor: pointer;
  font-size: 1em;
}
/* line 28, ../../assets/sass/components/_buttons.sass */
.clear:hover {
  background-color: transparent;
  font-weight: 900;
  outline: none;
}

/* line 33, ../../assets/sass/components/_buttons.sass */
.info {
  color: #456177;
}

/* line 35, ../../assets/sass/components/_buttons.sass */
.success {
  color: #457745;
}

/* line 37, ../../assets/sass/components/_buttons.sass */
.warning {
  color: #b1860d;
}

/* line 39, ../../assets/sass/components/_buttons.sass */
.error {
  color: #951a14;
}

/* line 42, ../../assets/sass/components/_buttons.sass */
.gradient {
  background-image: -o-linear-gradient(to bottom, #272c2f, rgba(39, 44, 47, 0.2));
  background-image: -moz-linear-gradient(to bottom, #272c2f, rgba(39, 44, 47, 0.2));
  background-image: -webkit-linear-gradient(to bottom, #272c2f, rgba(39, 44, 47, 0.2));
  background-image: linear-gradient(to bottom, #272c2f, rgba(39, 44, 47, 0.2));
  border: 1px solid #272c2f;
  color: #fff;
  background-color: #f1f4f5;
}
/* line 45, ../../assets/sass/components/_buttons.sass */
.gradient:hover {
  color: #fff;
}

/* line 47, ../../assets/sass/components/_buttons.sass */
.btn-grad-info {
  background-image: -o-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.2));
  background-image: -moz-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.2));
  background-image: -webkit-linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.2));
  background-image: linear-gradient(to bottom, #456177, rgba(69, 97, 119, 0.2));
  border: 1px solid #456177;
  color: #fff;
}

/* line 49, ../../assets/sass/components/_buttons.sass */
.btn-grad-success {
  background-image: -o-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.2));
  background-image: -moz-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.2));
  background-image: -webkit-linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.2));
  background-image: linear-gradient(to bottom, #457745, rgba(69, 119, 69, 0.2));
  border: 1px solid #457745;
  color: #fff;
}

/* line 51, ../../assets/sass/components/_buttons.sass */
.btn-grad-warning {
  background-image: -o-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.2));
  background-image: -moz-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.2));
  background-image: -webkit-linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.2));
  background-image: linear-gradient(to bottom, #b1860d, rgba(177, 134, 13, 0.2));
  border: 1px solid #b1860d;
  color: #fff;
}

/* line 53, ../../assets/sass/components/_buttons.sass */
.btn-grad-error {
  background-image: -o-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.2));
  background-image: -moz-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.2));
  background-image: -webkit-linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.2));
  background-image: linear-gradient(to bottom, #951a14, rgba(149, 26, 20, 0.2));
  border: 1px solid #951a14;
  color: #fff;
}

/* line 56, ../../assets/sass/components/_buttons.sass */
.button-close {
  align-self: flex-start;
  border-radius: 50%;
  background-color: #f1f4f5;
  border-style: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
/* line 64, ../../assets/sass/components/_buttons.sass */
.button-close em {
  padding: 0.5em;
  height: 2em;
  width: 2em;
}

/* line 1, ../../assets/sass/components/_forms.sass */
form {
  line-height: 2em;
}
/* line 4, ../../assets/sass/components/_forms.sass */
form fieldset input, form fieldset select {
  width: 100%;
  padding: 0.5em 1em;
}
/* line 8, ../../assets/sass/components/_forms.sass */
form fieldset input[type="radio"], form fieldset input[type="checkbox"] {
  width: inherit;
}
/* line 11, ../../assets/sass/components/_forms.sass */
form fieldset .mandatory {
  position: relative;
}
/* line 13, ../../assets/sass/components/_forms.sass */
form fieldset .mandatory::before {
  color: #951a14;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 0.7em;
  font-weight: 900;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
/* line 23, ../../assets/sass/components/_forms.sass */
form fieldset textarea {
  width: 100%;
}
/* line 26, ../../assets/sass/components/_forms.sass */
form .textarea-container label {
  vertical-align: top;
}
/* line 28, ../../assets/sass/components/_forms.sass */
form .textarea-container textarea {
  resize: vertical;
}
/* line 31, ../../assets/sass/components/_forms.sass */
form .form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
/* line 35, ../../assets/sass/components/_forms.sass */
form .form-buttons button:first-child {
  margin-right: 1em;
}
/* line 38, ../../assets/sass/components/_forms.sass */
form.titled-form {
  margin-top: 1em;
}
/* line 79, ../../assets/sass/base/_mixins.sass */
form.titled-form .title {
  background-color: #272c2f;
  color: #f1f4f5;
  padding: 0.5em;
}
/* line 40, ../../assets/sass/components/_forms.sass */
form.titled-form .subtitle {
  background-color: transparent;
  color: #272c2f;
  text-align: left;
  text-transform: uppercase;
}

/* line 1, ../../assets/sass/components/_hero.sass */
.hero-line {
  line-height: 2em;
  position: relative;
  text-align: center;
}
/* line 6, ../../assets/sass/components/_hero.sass */
.hero-line code {
  position: absolute;
  left: 0;
}

/* line 1, ../../assets/sass/components/_tables.sass */
table {
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}
/* line 6, ../../assets/sass/components/_tables.sass */
table em {
  color: #cad04a;
}
/* line 8, ../../assets/sass/components/_tables.sass */
table th, table td {
  border-bottom: 1px solid #272c2f;
  padding: 1em;
  text-align: center;
}
/* line 12, ../../assets/sass/components/_tables.sass */
table th {
  text-transform: uppercase;
}
/* line 14, ../../assets/sass/components/_tables.sass */
table .date {
  font-size: 0.8em;
}
/* line 16, ../../assets/sass/components/_tables.sass */
table .message-title {
  max-width: 9em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  white-space: nowrap;
  width: 50%;
}

/* line 23, ../../assets/sass/components/_tables.sass */
.titled-table {
  margin-top: 1em;
}
/* line 79, ../../assets/sass/base/_mixins.sass */
.titled-table .title {
  background-color: #272c2f;
  color: #f1f4f5;
  padding: 0.5em;
}
/* line 25, ../../assets/sass/components/_tables.sass */
.titled-table table {
  margin-top: 0;
}
/* line 27, ../../assets/sass/components/_tables.sass */
.titled-table table th {
  border-top: 1px solid #272c2f;
}

/* line 30, ../../assets/sass/components/_tables.sass */
.bordered-table {
  border: 1px solid #272c2f;
}
/* line 32, ../../assets/sass/components/_tables.sass */
.bordered-table td {
  border-right: 1px solid #272c2f;
}

/* line 36, ../../assets/sass/components/_tables.sass */
.striped-table tr:nth-child(even) {
  background-color: #f1f4f5;
}
