@import base/variables
@import base/mixins

.switch-label
  background-color: $grey
  border-color: $grey
  border-style: solid
  border-width: 1px
  color: $white
  cursor: pointer
  display: inline-block
  height: 1.5rem
  position: relative
  transition: ease-in-out
  vertical-align: top
  width: 2.5rem

  .switch-shadow
    @include linear-gradient-a(to left, $grey, $ligth-grey)
    border: none
    display: block
    height: 1.25em
    left: 2px
    position: absolute
    top: 1px
    width: 1.25em

  .switch-handle
    border-radius: 1px
    height: 1.25em
    left: 2px
    position: absolute
    top: 1px
    transition: left .15s ease-out
    width: 7px

.switch-label.linear
  background: transparent
  border-style: solid
  border-width: 1px
  .switch-shadow
    display: none

.switch-label.rounded
  background: transparent
  border-radius: 1em
  .switch-handle
    border-radius: 50%
    width: 1.25em
    height: 1.25em
  .switch-shadow
    display: none

.switch-rounded:checked + .switch-label
  .switch-handle
    left: 1em

.switch:checked + .switch-label
  .switch-handle
    left: 30px
  .switch-shadow
    @include linear-gradient-a(to right, $grey, $ligth-grey)
    border: none
    left: 17px
