@import base/variables
body
  overflow: hidden

*
  box-sizing: border-box
  scroll-behavior: smooth

.container
  color: $grey
  height: 100vh
  font-family: 'Muli', sans-serif
  font-weight: 400
  display: grid
  grid-template-columns: unquote("[header-start nav-start] 16em [nav-end main-start] 1fr [header-end main-end]")
  grid-template-rows: unquote("[header-start] 5em [header-end nav-start main-start] 1fr [nav-end main-end]")
  width: 100vw
  transition: 2s
  @media only screen and (max-width:$sm)
    grid-template-columns: unquote("[header-start nav-start main-start] 1fr [header-end nav-end main-end]")
    grid-template-rows: unquote("[header-start] 8.5em [header-end nav-start] 3em [nav-end main-start] 1fr [main-end]")

.hidden
  visibility: hidden
  position: absolute

.card-content
  padding: 2em 1em 1em 1em

.inline
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
  @media only screen and (max-width:$sm)
    flex-direction: column

input:focus, select:focus, textarea:focus
  outline: none
  border-radius: $accent-color
  box-shadow: 0 0 3px $accent-color
