@import base/mixins
@import base/variables


.bg-default
  background-color: $grey
  border-color: $grey
  color: $white

.bg-white
  background-color: white
  border-color: white
  color: $grey

.bg-success
  background-color: $success-color
  border-color: $success-color
  color: $white

.bg-info
  background-color: $info-color
  border-color: $info-color
  color: $white

.bg-warning
  background-color: $warning-color
  border-color: $warning-color
  color: $white

.bg-error
  background-color: $error-color
  border-color: $error-color
  color: $white

.bg-grad
  @include linear-gradient-a(to bottom, $grey, rgba($grey, .4))

.bg-grad-success
  @include linear-gradient-a(to bottom, $success-color, rgba($success-color, .4))

.bg-grad-info
  @include linear-gradient-a(to bottom, $info-color, rgba($info-color, .4))

.bg-grad-warning
  @include linear-gradient-a(to bottom, $warning-color, rgba($warning-color, .4))

.bg-grad-error
  @include linear-gradient-a(to bottom, $error-color, rgba($error-color, .4))

.info
  color: $info-color
.success
  color: $success-color
.warning
  color: $warning-color
.error
  color: $error-color
