@mixin linear-gradient-a($direction, $fromColor, $toColor)
  background-image: -o-linear-gradient($direction, $fromColor, $toColor)
  background-image: -moz-linear-gradient($direction, $fromColor, $toColor)
  background-image: -webkit-linear-gradient($direction, $fromColor, $toColor)
  background-image: linear-gradient($direction, $fromColor, $toColor)
  border: 1px solid $fromColor
  color: $white

@mixin dropdown($args...)
  background-color: $grey
  color: $ligth-grey
  display: flex
  flex-direction: column
  font-size: .8em
  left: 0
  margin-top: 2rem
  max-height: 50em
  position: absolute
  visibility: visible
  width: auto
  z-index: 0
  li
    border-bottom: 1px solid $main-color
    padding: 1em
    &:last-child
      border-bottom: none
    .item-title
      display: flex
      flex-direction: row
      align-items: center
      .title-img
        border-radius: 50%
        margin: 0 .5rem .5rem 0
      .title-description
        display: block
        color: $main-color
        font-weight: 900
        margin-bottom: .5em
    .message
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
      line-height: 1rem
      max-height: 2rem
      margin-bottom: 0

@mixin dropright($args...)
  background-color: $grey
  color: $ligth-grey
  font-size: .8em
  margin-left: 2.2rem
  overflow: hidden
  visibility: visible
  width: 10em
  z-index: 0

@mixin button-default($args...)
  color: ($ligth-grey)
  background-color: ($args)
  background-size: 200% auto
  border: 1.5px solid ($args)
  border-radius: 3em
  cursor: pointer
  padding: 1em 2em
  text-transform: uppercase
  transition: 1.5s
  &:focus
    outline: none
    box-shadow: 1px 1px .15em $grey
  &:hover
    background-color: $ligth-grey
    background-position: bottom center
    color: ($args)

@mixin titled-el()
  margin-top: 1em
  .title
    background-color: $grey
    color: $ligth-grey
    padding: .5em
