$main-color: #cad04a
$accent-color: #869514
$warning-color: #b1860d
$error-color: #951a14
$info-color: #456177
$success-color: #457745
$grey: #272c2f
$ligth-grey: #f1f4f5
$white: #fff

/*mediaqueries
/*768px
$sm: 48em
/*992px
$md: 62em
/*1200px
$lg: 75em
