@import base/variables

main
  background-color: $white
  grid-column: main-start / main-end
  grid-row: main-start / main-end
  overflow: auto

  .no-margin-bottom
    margin-bottom: 0

  section.block
    background-color: $white
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)
    margin: 2em

    article
      padding: 1em

      header
        padding-left: 1em
